apiVersion: v1
kind: ServiceAccount
metadata:
  name: script-executor
  namespace: opscontrolroom-system
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: script-executor-runner
  namespace: opscontrolroom-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: script-executor
  namespace: opscontrolroom-system
rules:
  - apiGroups: ["batch"]
    resources: ["jobs"]
    verbs: ["create", "get", "list", "watch", "delete"]
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["pods/log"]
    verbs: ["get"]
  - apiGroups: [""]
    resources: ["configmaps"]
    verbs: ["get", "list", "create", "update"]
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: script-executor
  namespace: opscontrolroom-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: script-executor
subjects:
  - kind: ServiceAccount
    name: script-executor
    namespace: opscontrolroom-system
