apiVersion: v1
kind: Service
metadata:
  name: script-executor
  namespace: opscontrolroom-system
  labels:
    app: script-executor
spec:
  type: ClusterIP
  ports:
    - port: 50051
      targetPort: 50051
      protocol: TCP
      name: grpc
    - port: 9090
      targetPort: 9090
      protocol: TCP
      name: metrics
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: script-executor
